@media (max-width: 767px) 
    .container
        width: 100%
        padding: 0 15px
    .formBtn
        font-size: 28px
        width: 80%
        height: 70px
        margin: 0 auto
    .title
        font-size: 44px
        text-align: center
        line-height: 50px
        width: 100%
        span    
            display: none
    .subtitle
        font-size: 18px
        line-height: 26px
        width: 100%
        margin-bottom: 30px
    .header
        &__lang
            display: none
        &__support
            display: none
        &__menu
            margin-right: 0
        &__logo
            margin-right: 0
        &__nav
            justify-content: space-between
    .first
        padding-top: 65px
        &__nav
            display: none
        &__subtitle
            margin-top: 0
            text-align: center
            font-size: 24px
            line-height: 130%
        &__title
            margin-top: 60px
            font-size: 56px
            text-align: center
        &__text
            width: 100%
            color: #fff
            margin-top: 40px
            font-size: 16px
            text-align: center
        &__form
            flex-direction: column
        &__input
            font-size: 18px
            height: 70px
            width: 80%
            margin: 0 auto
            border-radius: 10px
            background: #00b6d3
            opacity: 0.9
        &__btn
            margin-top: 20px
            line-height: 100%
            padding: 10px 20px
    .features
        padding: 60px 0
        &__block
            display: flex
            flex-direction: column
        &__item
            &:not(:last-child)
                margin-bottom: 30px
            svg
                margin-bottom: 60px
        &__itemTitle
            font-size: 24px
            margin-bottom: 20px
        &__itemText
            font-size: 16px
    .work-stage
        padding-bottom: 60px
        &__block
            display: flex
            flex-direction: column
        &__item
            margin: 0 auto
            svg
                margin: 0 auto
                width: 140px
                height: 140px
        &__nums
            margin: 0 auto
            font-size: 80px
        &__itemTitle
            font-size: 24px
        &__itemText
            font-size: 16px
        &__arrow
            margin-top: 30px
    .offers
        padding-bottom: 60px
        &__block
            display: flex
            flex-direction: column
        &__item
            width: 85%
            max-width: 300px
            margin: 0 auto
        &__itemTitle
            font-size: 28px
        &__percent
            font-size: 46px
        &__text
            font-size: 18px
        &__btn
            font-size: 20px
            padding: 15px 25px
    .min-investment
        padding-bottom: 60px
        &__title
            font-size: 28px
        &__block
            margin-top: 30px
            display: flex
            flex-direction: column
            grid-gap: 10px
        &__item
            border-radius: 10px
        &__text
            font-size: 24px
    .calc
        padding-bottom: 60px
        .container
            padding: 0
        &__block
            width: 100%
            padding: 30px 15px
            border-radius: 0
            margin-bottom: 0px
        &__nav
            display: flex
            flex-direction: column
            grid-gap: 20px
        &__currency
            span
                font-size: 16px
            width: 100%
            select
                height: 50px
                font-size: 16px
        &__plan
            span
                font-size: 16px
            width: 100%
            select
                height: 50px
                font-size: 16px
        &__input
            span
                font-size: 16px
            input
                width: 100%
                height: 50px
                font-size: 16px
        &__percent
            margin-top: 30px
        &__percentTitle
            font-size: 18px
        &__line
            margin-bottom: 30px
        &__percentCount
            font-size: 64px
        &__info
            display: flex
            flex-direction: column
            border-radius: 0
        &__infoItem
            background: #279db6
            height: auto
            &:last-child
                padding-bottom: 30px
        &__period
            margin-top: 30px
            margin-bottom: 20px
            font-size: 20px
        &__sum
            font-size: 18px
    .transactions
        padding-bottom: 60px
        &__subtitle
            font-size: 17px
        &__buttons
            width: 100%
        &__btn
            font-size: 18px
            padding: 24px 36px
            width: 50%
            text-align: center
        &__overflow
            overflow-x: auto
    .partner
        padding-bottom: 60px
        &__block
            display: flex
            flex-direction: column
        &__ref
            margin: 0 auto
            svg
                width: 60%
                height: 60%
                margin: 0 auto
        &__info
            margin: 0 auto
        &__btn
            margin-top: 30px
            font-size: 18px
            padding: 25px 14px
            margin-bottom: 30px
        &__arrow
            margin: 0 auto
    .train-video
        padding-bottom: 60px
    .invest-form
        padding: 30px 0
        background: url('../img/bg/mobile/bg-coins.png')
        &__block
            display: flex
            flex-direction: column
        &__title
            text-align: center
            font-size: 54px
        &__subtitle
            text-align: center
            font-size: 26px
            margin-bottom: 30px
        &__left
            width: 100%
        &__right
            display: flex
            flex-direction: column
            margin: 0 auto
            input
                font-size: 18px
                height: 70px
                width: 80%
                margin: 0 auto
                border-radius: 10px
                width: 100%
                margin-right: 0
                margin-bottom: 20px
        &__text
            text-align: center
            font-size: 18px
            margin-bottom: 20px
        &__btn
            width: 100%
            padding: 10px 30px
            line-height: 100%
    .footer
        &__block
            display: flex
            flex-direction: column
        &__logo
            display: none
            